@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "legendaire";
  src: url("/fonts/legendaire/Legendaire FREE.ttf") format("truetype");
}

@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/ZPublicaSans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-ExtraBoldItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-ExtraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "publica-sans";
  src: url("/fonts/publicasans/PublicaSans-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  /* overflow-y: hidden; Hides vertical scrollbar */
  /* For cross-browser compatibility */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Webkit browsers (Chrome, Safari) */
}

/* .btn {
  @apply rounded px-4 py-2 font-bold;
} */
